<!--
#ITEMS INDEX

# available methods:
#
# items - array of items to be displayed in list, in ranked order
#
# each item responds to:
#        - id :integer
#        - name :string
#        - img_url :string
#        - description :texr
-->


<!-- when you select the list, redirect the list to list#show (which shows all the items) -->

<div class="container container-list-item">
  <h2> List of Items </h2>
  <i class="fa fa-search fa-lg" style="margin: 15px;"></i>
  <div class="search-container container">
    <%= render 'search' %>
  </div>
  <% @items.each do |item| %>
    <h4 id="itemName"> <%= item.name.capitalize %> </h4>
      <!-- <div id="itemImage"> -->
      <!--   <img src="<%= item.img_url %>"> -->
      <!-- </div> -->
    <p id="itemDesc"> <%= item.description %> </p>
  <% end %>
 </div>



