// ----- COLORS SETUP ---------

// element colors
$cloud_gray: #e8e8e8;
$milk_gray: #eee;
$medium_gray: #ccc;
$silver: #E3E5E7;
$white_smoke: #F5F5F5;

//kuler pallete colors
$charcoal_gray: #424342;
$milk_white: #F5F2EB;
$main_blue: #435A66;
$clean_white_bg: #f8f8f8;
$vintage_blue: #88A6AF;
$light_khaki: #D9CDB8;


$THEME_COLOR: $milk_gray;
$HIGHLIGHTS: $vintage_blue;
$BORDER_BUTTON: $charcoal_gray;
$BACKGROUND:  $main_blue;
$TEXT_COLOR: $vintage_blue;
$BODY_TEXT_COLOR: $light_khaki;